csirtg_indicator>=1.0.6,<2
PyYAML>=5.1.0
csirtgsdk>=1.1,<2.0
csirtg_mail>=0.0.0a9,<2
ipaddress>=1.0.16
feedparser>=5.2.1
nltk==3.4.5
requests==2.22.0
pendulum==2.0.5
arrow>=0.15.2
python-magic>=0.4.6
pyaml>=15.8.2
chardet==3.0.4
html5lib==1.0b8
SQLAlchemy>=1.0.14
tornado>=5.1.0
apwgsdk>=0.0.0a4,<1.0
docker==2.2.1
lxml<4.0,>=3.5.0
tzlocal==2.0.0

# http://stackoverflow.com/questions/31649390/python-requests-ssl-handshake-failure
# if you're having py2.7.6 issues with sslv3
#pyopenssl>=16.2.0
#ndg-httpsclient
#pyasn1
